<md-card>
    <md-card-title>
        <span class="md-headline">Profile</span>
    </md-card-title>
</md-card>
<br>

<div class="container">
    <div class="row">
        <!-- left column -->

        <!--<div class="col-md-3">-->
            <!--<div class="text-center">-->
                <!--<img src="assets/images/people-icon.png" height="120px" class="avatar img-circle" alt="avatar">-->
                <!--<h6>Upload a different photo...</h6>-->
                <!--<input type="file" class="form-control">-->
            <!--</div>-->
        <!--</div>-->

        <!-- edit form column -->
        <div class="col-md-7 personal-info">
            <div class="alert alert-info alert-dismissable" hidden>
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
                Example Alert
            </div>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" value="{{account.firstName}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" value="{{account.lastName}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" value="{{account.email}}" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Username:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" value="{{account.login}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Role</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" value="{{account.authorities[0]}}" disabled>
                        <input class="form-control" type="text" value="{{account.authorities[1]}}" disabled>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <md-button class="md-raised md-primary" ui-sref="password">Change Password</md-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>
