<div class="container-fluid">
    <md-card>
        <md-card-title>
            <span class="md-headline">Calendar View</span><span class="md-headline" style="color: #0000AA">. (Welcome, {{account.login}})</span>
        </md-card-title>
    </md-card>

    <div has-authority="ROLE_USER">
    <md-button class="md-fab md-fab-bottom-right" style="position: fixed" ui-sref="dashboard.new">
        <md-tooltip md-direction="left">
            New Booking
        </md-tooltip>
        <md-icon md-svg-icon="assets/images/ic_note_add_white_24px.svg"></md-icon>
    </md-button>
    </div>
    <!--<div ng-repeat="booking in booking">-->
    <!--{{booking}}-->
    <!--</div>-->

    <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
        <h2>{{calendarTitle}}</h2>
    </section>

    <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary"
                   mwl-date-modifier date="calendarDate"
                   decrement="calendarView">Previous</md-button>
        <md-button class="md-raised"
                   mwl-date-modifier date="calendarDate"
                   set-to-today>Today</md-button>
        <md-button class="md-raised md-primary"
                   mwl-date-modifier date="calendarDate"
                   increment="calendarView">Next</md-button>
    </section>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary"
                   ng-model="calendarView" uib-btn-radio="'year'">Year
        </md-button>
        <md-button class="md-raised md-primary"
                   ng-model="calendarView" uib-btn-radio="'month'">Month
        </md-button>
        <md-button class="md-raised md-primary"
                   ng-model="calendarView" uib-btn-radio="'week'">Week
        </md-button>
        <md-button class="md-raised md-primary"
                   ng-model="calendarView" uib-btn-radio="'day'">Day
        </md-button>
    </section>
    <br>
    <style type="text/css">
        .odd-cell {
            background-color: pink !important;
        }
    </style>
<div class="container">
    <mwl-calendar
        view="calendarView"
        view-date="calendarDate"
        events="bookings"
        view-title="calendarTitle"
        on-event-click="eventClicked(calendarEvent)"
        on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
        cell-is-open="true">
    </mwl-calendar>
</div>
