<md-dialog ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Booking</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-icon="assets/images/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>

        <div class="md-dialog-content">
            <form>
                <div class="form-group; md-padding">
                    <label>Date: </label>
                    <md-datepicker ng-model="data.startsAt"></md-datepicker>
                    <md-datepicker ng-model="data.endsAt"></md-datepicker>

                    <!--<md-datepicker ng-model="data.BookingDate"></md-datepicker>-->
                </div>
                Start Date :  {{data.startsAt}} <br>
                <div class="form-group; md-padding">
                    <div layout="row">
                        <label>From: </label>
                        <mdp-time-picker name="timeFormat" ng-model="data.startsAt" mdp-format="HH:mm">
                            <div ng-messages="demoForm.timeFormat.$error">
                                <div ng-message="required">This is required</div>
                                <div ng-message="format">Invalid format</div>
                            </div><br>
                        </mdp-time-picker>
                        <label>To: </label>
                        <mdp-time-picker name="timeFormat" ng-model="data.endsAt" mdp-format="HH:mm">
                            <div ng-messages="demoForm.timeFormat.$error">
                                <div ng-message="required">This is required</div>
                                <div ng-message="format">Invalid format</div>
                            </div>
                        </mdp-time-picker>
                    </div>
                    Time From: {{data.startsAt}} <br>
                    Time To: {{data.endsAt}}
                    <div class="form-group">
                        <label>Space: </label>
                        <md-select ng-model="data.space">
                            <md-option layout="row" class="md-padding">Ruang Gading</md-option>
                            <md-option layout="row" class="md-padding">Ruang Flamboyan</md-option>
                            <md-option layout="row" class="md-padding">Ruang Bima Sakti</md-option>
                    </div>

                    <label>Subject</label>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Subject</label>
                        <input ng-model="data.title">
                    </md-input-container>

                    <label>Number of Attendees</label>
                    <md-input-container class="md-block">
                        <label>attendees</label>
                        <input required type="number" step="any" name="rate" min="2"
                               max="15" ng-model="data.numberAtt" />
                        <!--<div ng-messages="attendees.number.$error" multiple md-auto-hide="false">-->
                            <!--<div ng-message="required">-->
                                <!--min 2 person-->
                            <!--</div>-->
                            <!--<div ng-message="min">-->
                                <!--min 2 person-->
                            <!--</div>-->

                            <!--<div ng-message="max">-->
                                <!--your people is too much-->
                            <!--</div>-->
                        <!--</div>-->
                    </md-input-container>
                    </td>

                    <label>Attendees Name (name1, name2)</label>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Attendees Name</label>
                        <input ng-model="data.nameAtt">
                    </md-input-container>

                    <md-checkbox aria-label="Checkbox 1">
                        <label>Weekly Recurring</label> <!-- {{ data.cb1 }}  -->
                    </md-checkbox>
                    <br>
                    <label for="comment">Note: </label>
                    <textarea class="form-control" rows="5" style="width: 400px" id="comment" ng-model="data.note"></textarea>
                </div>
            </form>
        </div>
    </md-dialog-content>


    <md-dialog-actions>
        <span flex></span>
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button ng-click="addBook()" style="margin-right:20px;">
            Confirm
        </md-button>
    </md-dialog-actions>
    </form>
</md-dialog>
