
<div class="modal-header">
  <h3 class="modal-title">Booking Detail Booked by <strong>({{vm.event.booked_by.login}})</strong></h3>
</div>
<div class="modal-body">

    <div class="table-responsive" >
        <table class="jh-table table table-striped">
            <tr>
                <td>Title</td>
                <td><strong>{{vm.event.title}}</strong></td>
            </tr>
            <tr>
                <td>Period</td>
                <td><strong>{{vm.event.startsAt | date: 'dd MMMM yyyy (hh:mm a '}}{{vm.event.endsAt | date: '- hh:mm a)'}}</strong></td>
            </tr>
            <tr>
                <td>Space</td>

                <td><strong>{{vm.event.space.name_space}}</strong></td>
            </tr>
            <tr>
                <td>Number of Attendees</td>
                <td><strong>{{vm.event.numberAtt}}</strong></td>
            </tr>
            <tr>
                <td>Attendees Name</td>
                <td><strong>{{vm.event.nameAtt}}</strong></td>
            </tr>
            <tr>
                <td>Note</td>
                <td><strong>{{vm.event.note}}</strong></td>
            </tr>

    </table>

</div>

<div class="modal-footer" ng-controller="modalController">
  <button class="btn btn-success" ng-click="$close()">Ok</button>
    <button class="btn btn-primary" ui-sref="dashboard.edit({id:vm.event.id})"  ng-show="chk('{{vm.event.booked_by.login}}')" ng-click="$close()">Edit</button>
    <button class="btn btn-danger" ui-sref="dashboard.delete({id:vm.event.id})" ng-show="chk('{{vm.event.booked_by.login}}')" ng-click="$close()">Delete</button>
</div>
</div>
