
    <div class="container-fluid">
        <jh-alert></jh-alert>
        <md-card>
            <md-card-title>
                <span class="md-headline">Booking List</span>
            </md-card-title>
        </md-card>
        <br>

        <div has-authority="ROLE_USER">
        <md-button class="md-fab md-fab-bottom-right" style="position: fixed" ui-sref="booking.new">
            <md-tooltip md-direction="left">
                New Booking
            </md-tooltip>
            <md-icon md-svg-icon="assets/images/ic_note_add_white_24px.svg"></md-icon>
        </md-button>
        </div>
        <div has-authority="ROLE_ADMIN">
            <md-radio-group ng-model="isStatus" layout-xs="column" layout="row" layout-align="center">
                <md-radio-button>Select All</md-radio-button>
                <md-radio-button value="Pending">Pending</md-radio-button>
                <md-radio-button value="Rejected">Rejected</md-radio-button>
                <md-radio-button value="Approved">Approved</md-radio-button>
            </md-radio-group>

        </div>
    <br/>
        <md-input-container class="md-icon-float" >
            <label>Search</label>
            <md-icon md-svg-icon="assets/images/ic_search_black_24px.svg"></md-icon>
            <input ng-model="searchBooking" />
        </md-input-container>

    <div class="table-responsive" ng-switch="chkAuth()">
        <table class="jh-table table table-striped" ng-switch-when="true">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAllByBookedBy()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span>Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startsAt"><span>Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startsAt"><span>Start</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endsAt"><span>End</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="on_space.name_space"><span>Space</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="booked_by.login"><span>Booked by</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="booking in bookings | filter: searchBooking">
                    <td><a ui-sref="booking.detail({id:booking.id})">{{booking.id}}</a></td>
                    <td>{{booking.title}}</td>
                    <td>{{booking.startsAt | date:'fullDate'}}</td>
                    <td>{{booking.startsAt | date:'hh:mm a'}}</td>
                    <td>{{booking.endsAt | date:'hh:mm a'}}</td>
                    <td>
                        <a ui-sref="space.detail({id:booking.on_space.id})">{{booking.space.name_space}}</a>
                    </td>

                    <td>{{booking.status}}</td>

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="booking.detail({id:booking.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="booking.edit({id:booking.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="booking.delete({id:booking.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

        <!---->

        <div class="table-responsive" has-authority="ROLE_ADMIN">
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span>Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startsAt"><span>Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startsAt"><span>Start</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endsAt"><span>End</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="on_space.name_space"><span>Space</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="booked_by.login"><span>Booked by</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="booking in bookingss | filter: searchBooking | filter: isStatus">
                    <td><a ui-sref="booking.detail({id:booking.id})">{{booking.id}}</a></td>
                    <td>{{booking.title}}</td>
                    <td>{{booking.startsAt | date:'fullDate'}}</td>
                    <td>{{booking.startsAt | date:'hh:mm a'}}</td>
                    <td>{{booking.endsAt | date:'hh:mm a'}}</td>
                    <td>
                        <a ui-sref="space.detail({id:booking.space.id})">{{booking.space.name_space}}</a>
                    </td>

                    <td>
                        {{booking.bookingBy}}
                    </td>
                    <td>{{booking.status}}</td>

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="booking.detail({id:booking.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="booking.edit({id:booking.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="booking.delete({id:booking.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
    </div>
