
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myBookingLabel">Create or edit a Booking</h4>
    </div>
    <div class="modal-body">


        <jh-alert-error></jh-alert-error>
        <div class="form-group" ng-hide="true">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="booking.id" readonly />
        </div>

        <div class="form-group">
            Booking Date:
            <strong>{{booking.booking_date | date:'d MMMM y (hh:mm a)'}}</strong>
        </div>

        <div class="form-group">
            <label class="control-label" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="booking.title" placeholder="Required"
                    required />
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_startsAt">Start At</label>
            <input type="datetime-local" class="form-control" name="startsAt" id="field_startsAt"
                    ng-model="booking.startsAt"
                    required />
            <div ng-show="editForm.startsAt.$invalid">
                <p class="help-block"
                    ng-show="editForm.startsAt.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.startsAt.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_endsAt">End At</label>
            <input type="datetime-local" class="form-control" name="endsAt" id="field_endsAt"
                    ng-model="booking.endsAt"
                    required />
            <div ng-show="editForm.endsAt.$invalid">
                <p class="help-block"
                    ng-show="editForm.endsAt.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.endsAt.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_numberAtt">Numbers of Attendees</label>
            <input type="number" class="form-control" name="numberAtt" id="field_numberAtt"  placeholder="Required & Min 2"
                    ng-model="booking.numberAtt" min="2"
                    required />
            <div ng-show="editForm.numberAtt.$invalid">
                <p class="help-block"
                    ng-show="editForm.numberAtt.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.numberAtt.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Name of Attendees</label>
            <input type="text" class="form-control" name="nameAtt" id="field_nameAtt"
                    ng-model="booking.nameAtt"  placeholder="Required"
                    required />
            <div ng-show="editForm.nameAtt.$invalid">
                <p class="help-block"
                    ng-show="editForm.nameAtt.$error.required">
                    This field is required.
                </p>
            </div>

        </div>

        <!--<div class="form-group">-->
            <!--<label class="control-label">RecursOn</label>-->
            <!--<select ng-model="booking.recursOn" class="form-control">-->
                <!--<option value="month">Month</option>-->
                <!--<option value="year">Year</option>-->
            <!--</select>-->
        <!--</div>-->

        <div class="form-group">
            <label class="control-label" for="field_note">Note</label>
            <textarea class="form-control" name="note" id="field_note"  placeholder="Optional"
                      ng-model="booking.note"></textarea>
        </div>

        <div class="form-group" hidden>
            <label class="control-label" translate="spaceboostApp.booking.bookingBy" for="field_bookingBy">Booking By</label>
            <input type="text" class="form-control" name="bookingBy" id="field_bookingBy"
                   ng-model="booking.bookingBy"
            />
        </div>

        <div class="form-group">
            <label for="field_space">Space</label>
            <select class="form-control" id="field_space" name="space" ng-model="booking.space"  placeholder="Required"
                    ng-options="space as space.name_space for space in spaces track by space.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
