
<div class="container">
    <h2><span>Booking</span> {{booking.id}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Title</span>
                </td>
                <td>
                    <span class="form-control-static">{{booking.title}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Starts At</span>
                </td>
                <td>
                    <span class="form-control-static">{{booking.startsAt | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Ends At</span>
                </td>
                <td>
                    <span class="form-control-static">{{booking.endsAt | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Number Attendance</span>
                </td>
                <td>
                    <span class="form-control-static">{{booking.numberAtt}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Name Attendance</span>
                </td>
                <td>
                    <span class="form-control-static">{{booking.nameAtt}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{booking.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Recurs On</span>
                </td>
                <td>
                    <span class="form-control-static">{{booking.recursOn}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Note</span>
                </td>
                <td>
                    <span class="form-control-static">{{booking.note}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Booking Date</span>
                </td>
                <td>
                    <span class="form-control-static">{{booking.booking_date | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Booked by</span>
                </td>
                <td>
                    {{booking.bookingBy}}
                </td>
            </tr>
            <tr>
                <td>
                    <span>Space</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="space.detail({id:booking.on_space.id})">{{booking.space.name_space}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
