    <div class="container-fluid">
        <jh-alert></jh-alert>

        <md-card>
            <md-card-title>
                <span class="md-headline">Space Category</span>
            </md-card-title>
        </md-card>
        <br>

        <div has-authority="ROLE_USER">
        <md-button class="md-fab md-fab-bottom-right" style="position: fixed" ui-sref="space_category.new">
        <md-tooltip md-direction="left">
            New Space Category
        </md-tooltip>
        <md-icon md-svg-icon="assets/images/ic_note_add_white_24px.svg"></md-icon>
        </md-button>
            </div>

        <md-input-container class="md-icon-float">
            <label>Search</label>
            <md-icon md-svg-icon="assets/images/ic_search_black_24px.svg"></md-icon>
            <input ng-model="search"/>
        </md-input-container>

    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="space_category"><span>Space Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="space_category in space_categorys | filter: search">
                    <td><a ui-sref="space_category.detail({id:space_category.id})">{{space_category.id}}</a></td>
                    <td>{{space_category.space_category}}</td>
                    <td>{{space_category.description}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container" ng-switch="chkAuth()">
                            <button type="submit"
                                    ui-sref="space_category.detail({id:space_category.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="space_category.edit({id:space_category.id})"
                                    class="btn btn-primary btn-sm" ng-switch-when="true">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="space_category.delete({id:space_category.id})"
                                    class="btn btn-danger btn-sm" ng-switch-when="true">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
