<div class="container">
    <div ng-cloak>
        <div class="row">
            <div class="col-md-3">
                <img ng-src="/assets/images/sorry.png" class="img-responsive">
            </div>
            <div class="col-md-8">
                <h1>Please Login with Admin Account</h1>

                <div class="alert alert-danger">You are not authorized to access the page.
                </div>
                <br>
                <hr>
                <div class="alert alert-info">Click <a ui-sref="home">here</a> to check Schedule

                </div>
            </div>
        </div>
    </div>
