<div class="container">
    <h2><span>User</span> "{{user.login}}"</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Login</span>
                </td>
                <td>
                    {{user.login}}
                </td>
            </tr>
            <tr>
                <td>
                    <span>FirstName</span>
                </td>
                <td>
                    {{user.firstName}}
                </td>
            </tr>
            <tr>
                <td>
                    <span>LastName</span>
                </td>
                <td>
                    {{user.lastName}}
                </td>
            </tr>
            <tr>
                <td>
                    <span>Email</span>
                </td>
                <td>
                    {{user.email}}
                </td>
            </tr>
            <tr>
                <td>
                    <span>Activated</span>
                </td>
                <td>
                    {{user.activated}}
                </td>
            </tr>

            <tr>
                <td>
                    <span>CreatedBy</span>
                </td>
                <td>
                   {{user.createdBy}}
                </td>
            </tr>
            <tr>
                <td>
                    <span>CreatedDate</span>
                </td>
                <td>
                   {{user.createdDate | date:'dd/MM/yy HH:mm' }}
                </td>
            </tr>
            <tr>
                <td>
                    <span>LastModifiedBy</span>
                </td>
                <td>
                    {{user.lastModifiedBy}}
                </td>
            </tr>
            <tr>
                <td>
                    <span>LastCreatedDate</span>
                </td>
                <td>
                    {{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}
                </td>
            </tr>
            <tr>
                <td>
                    <span>Profiles</span>
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li ng-repeat="authority in user.authorities"><span>{{authority}}</span></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="user-management"
            class="btn btn-info" layout-align="center">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
