
    <div class="container-fluid">
        <jh-alert></jh-alert>
        <md-card>
            <md-card-title>
                <span class="md-headline">User Management</span>
            </md-card-title>
        </md-card>
        <br>

        <md-button class="md-fab md-fab-bottom-right" style="position: fixed" ui-sref="user-management.new">
            <md-tooltip md-direction="left">
                New User
            </md-tooltip>
            <md-icon md-svg-icon="assets/images/ic_note_add_white_24px.svg"></md-icon>
        </md-button>


        <md-radio-group ng-model="isActivated" layout-xs="column" layout="row" layout-align="center">
            <md-radio-button value="true">Activated</md-radio-button>
            <md-radio-button>Select All</md-radio-button>
            <md-radio-button value="false">Deactivated</md-radio-button>
        </md-radio-group>
        <br>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Email</th>
                <th></th>

                <th>Profiles</th>
                <th>CreatedDate</th>
                <th>LastModifiedBy</th>
                <th>LastModifiedDate</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users | filter: isActivated">
                <td><a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a></td>
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>
                <td>
                    <span class="label label-danger" ng-click="setActive(user, true)" ng-show="!user.activated"
                          style="cursor: pointer;">Desactivated</span>
                    <span class="label label-success" ng-click="setActive(user, false)" ng-show="user.activated"
                          style="cursor: pointer;">Activated</span>
                </td>

                <td>
                    <div ng-repeat="authority in user.authorities">
                        <span class="label label-info">{{ authority }}</span>
                    </div>
                </td>
                <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{user.lastModifiedBy}}</td>
                <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                <td class="text-right">
                    <button type="submit"
                            ui-sref="user-management-detail({login:user.login})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                    <button type="submit"
                            ui-sref="user-management.edit({login:user.login})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="submit"
                            ui-sref="user-management.delete({login:user.login})"
                            class="btn btn-danger btn-sm"
                            ng-disabled="currentAccount.login==user.login">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
