
<nav  id="myNavbar" class="navbar navbar-inverse" role="navigation">

    <div class="container-fluid;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Nebula Spaceboost</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav">
                <li dropdown ng-switch-when="true">
                    <a data-toggle="dropdown" dropdown-toggle style="cursor: pointer; cursor: hand;">Booking<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="home"><span class="glyphicon glyphicon-calendar"></span>
                            &#xA0;Calendar View</a></li>
                        <li ui-sref-active="active"> <a ui-sref="booking"><span class="glyphicon glyphicon-th-list"></span>
                            &#xA0;List</a></li>
                    </ul>
                </li>
                <li dropdown>
                    <a data-toggle="dropdown" ng-switch-when="true" dropdown-toggle style="cursor: pointer; cursor: hand;">Space<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="space"><span class="glyphicon glyphicon-home"></span>
                            &#xA0;Space</a></li>
                        <li ui-sref-active="active"><a ui-sref="space_category"><span class="glyphicon glyphicon-list-alt"></span>
                            &#xA0;Space Category</a></li>
                    </ul>
                </li>

                    <li ui-sref-active="active" ng-switch-when="true" has-authority="ROLE_ADMIN">
                    <a ui-sref="user-management" ><span class="glyphicon glyphicon-user"></span>
                        &#xA0;
                        User Management
                    </a>
                    </li>

                <li ui-sref-active="active" ng-switch-when="true">
                    <a ui-sref="settings" ><span class="glyphicon glyphicon-cog"></span>
                        &#xA0;
                        Settings
                    </a>
                </li>

            </ul>



            <ul class="nav navbar-nav navbar-right">
                <li dropdown>
                    <a data-toggle="dropdown"  ng-switch-when="true" dropdown-toggle style="cursor: pointer; cursor: hand;">Welcome {{accountLog}}<b class="caret"></b></a>
                    <ul class="dropdown-menu" ng-switch-when="true">
                        <li ui-sref-active="active"><a ui-sref="profile"><span class="glyphicon glyphicon-user"></span>&#xA0;<span>Profile</span></a></li>
                        <li class="divider"></li>
                        <li ui-sref-active="active"><a href="" ng-click="logout()" id="logout" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span>Sign out</span></a></li>

                    </ul>
                </li>
            </ul>
        </div>

<!--<nav class="navbar navbar-default" role="navigation">-->
<!--<div class="container">-->
<!--<div class="navbar-header">-->
<!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">-->
<!--<span class="sr-only">Toggle navigation</span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</button>-->
<!--<a class="navbar-brand" href="#/"><span>jhipster</span> <span class="navbar-version">v{{VERSION}}</span></a>-->
<!--</div>-->
<!--<div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">-->
<!--<ul class="nav navbar-nav navbar-right">-->
<!--<li ui-sref-active="active">-->
<!--<a ui-sref="home" data-toggle="collapse" data-target=".navbar-collapse.in">-->
<!--<span class="glyphicon glyphicon-home"></span>-->
<!--<span class="hidden-sm">Home</span>-->
<!--</a>-->
<!--</li>-->
<!--&lt;!&ndash; jhipster-needle-add-element-to-menu - JHipster will add new menu items here &ndash;&gt;-->
<!--<li ui-sref-active="active" ng-switch-when="true" dropdown>-->
<!--<a dropdown-toggle href="">-->
<!--<span>-->
<!--<span class="glyphicon glyphicon-th-list"></span>-->
<!--<span class="hidden-sm">-->
<!--Entities-->
<!--</span>-->
<!--<b class="caret"></b>-->
<!--</span>-->
<!--</a>-->
<!--<ul class="dropdown-menu">-->
<!--&lt;!&ndash; jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here &ndash;&gt;-->
<!--</ul>-->
<!--</li>-->
<!--<li ng-class="{active: $state.includes('account')}" dropdown>-->
<!--<a dropdown-toggle href="" id="account-menu">-->
<!--<span>-->
<!--<span class="glyphicon glyphicon-user"></span>-->
<!--<span class="hidden-sm">-->
<!--Account-->
<!--</span>-->
<!--<b class="caret"></b>-->
<!--</span>-->
<!--</a>-->
<!--<ul class="dropdown-menu">-->
<!--<li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-wrench"></span>-->
<!--&#xA0;<span>Settings</span></a></li>-->
<!--<li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-lock"></span>-->
<!--&#xA0;<span>Password</span></a></li>-->
<!--<li ui-sref-active="active" ng-switch-when="true"><a ui-sref="sessions" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-cloud"></span>-->
<!--&#xA0;<span>Sessions</span></a></li>-->
<!--<li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()" id="logout" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-out"></span>-->
<!--&#xA0;<span>Sign out</span></a></li>-->
<!--<li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-in"></span>-->
<!--&#xA0;<span>Sign in</span></a></li>-->
<!--<li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-plus-sign"></span>-->
<!--&#xA0;<span>Register</span></a></li>-->
<!--</ul>-->
<!--</li>-->
<!--<li ng-class="{active: $state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" dropdown>-->
<!--<a dropdown-toggle href="" id="admin-menu">-->
<!--<span>-->
<!--<span class="glyphicon glyphicon-tower"></span>-->
<!--<span class="hidden-sm">Administration</span>-->
<!--<b class="caret"></b>-->
<!--</span>-->
<!--</a>-->
<!--<ul class="dropdown-menu">-->
<!--<li ui-sref-active="active"><a ui-sref="user-management" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-user"></span>-->
<!--&#xA0;<span>User management</span></a></li>-->
<!--<li ui-sref-active="active"><a ui-sref="metrics" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-dashboard"></span>-->
<!--&#xA0;<span>Metrics</span></a></li>-->
<!--<li ui-sref-active="active"><a ui-sref="health" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-heart"></span>-->
<!--&#xA0;<span>Health</span></a></li>-->
<!--<li ui-sref-active="active"><a ui-sref="configuration" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-list-alt"></span>-->
<!--&#xA0;<span>Configuration</span></a></li>-->
<!--<li ui-sref-active="active"><a ui-sref="audits" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-bell"></span>-->
<!--&#xA0;<span>Audits</span></a></li>-->
<!--<li ui-sref-active="active"><a ui-sref="logs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-tasks"></span>-->
<!--&#xA0;<span>Logs</span></a></li>-->
<!--<li ng-hide="inProduction" ui-sref-active="active"><a ui-sref="docs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-book"></span>-->
<!--&#xA0;<span>API</span></a></li>-->
<!--&lt;!&ndash; jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here &ndash;&gt;-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->

