<link rel="stylesheet" href="/assets/styles/login.css">
<div>
    <div class="row; wrapper">
        <div class="col-md-4 col-md-offset-4">
            <h1>Sign in</h1>

            <div ng-switch="isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    You are logged in as user "{{account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    If you want to <a class="alert-link" href="#/login">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    You don't have an account yet? <a class="alert-link" href="#/register">Register a new account</a>
                </div>
            </div>


            <div class="alert alert-danger" ng-show="authenticationError">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <form class="form" role="form" ng-submit="login($event)">
                <div class="form-group">
                    <input type="text" class="form-control" id="username" placeholder="Username" ng-model="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="Password"
                           ng-model="password">
                </div>
                <div class="form-group">
                    <label for="rememberMe">
                        <input type="checkbox" id="rememberMe" ng-model="rememberMe" checked>
                        <span>Remember me</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-info btn-raised">Sign in</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a class="alert-link" href="#/reset/request">Did you forget your password?</a>
            </div>
            <div class="alert alert-warning">
                You don't have an account yet? <a class="alert-link" href="#/register">Register a new account</a>
            </div>
        </div>
    </div>





<!--<div layout="column" layout-align="center center" layout-fill="layout-fill">-->
    <!--<div layout="column" class="loginBox md-whiteframe-z;">-->
        <!--<md-content layout="column" class="md-padding">-->
    <!--<md-tabs md-dynamic-height md-border-bottom>-->
        <!--<md-tab label="Sign In">-->
            <!--<md-content class="md-padding">-->
                <!--<h1 class="md-display-2">Sign In</h1>-->
                <!--<md-content layout="column" class="md-padding">-->
        <!--<form ng-submit="login($event)">-->
                    <!--<md-input-container>-->
                        <!--<label>Email/username</label>-->
                        <!--<input type="username"/>-->
                    <!--</md-input-container>-->

                    <!--<md-input-container>-->
                        <!--<label>Password</label>-->
                        <!--<input type="password" ng-model="password"/>-->
                    <!--</md-input-container>-->
            <!--<button type="submit" class="btn btn-primary">Sign in</button>-->
                    <!--&lt;!&ndash;<md-button class="md-raised md-primary" ui-sref="dashboard">Sign In</md-button>&ndash;&gt;-->
        <!--</form>-->
                <!--</md-content>-->
            <!--</md-content>-->
        <!--</md-tab>-->

        <!--<md-tab label="Sign Up">-->
            <!--<md-content class="md-padding">-->
                <!--<h1 class="md-display-2">Sign Up</h1>-->
                <!--<md-content layout="column" class="md-padding">-->
                    <!--<md-input-container>-->
                        <!--<label>First Name</label>-->
                        <!--<input type="text"/>-->
                    <!--</md-input-container>-->

                    <!--<md-input-container>-->
                        <!--<label>Last Name</label>-->
                        <!--<input type="text"/>-->
                    <!--</md-input-container>-->

                    <!--<md-input-container>-->
                        <!--<label>Username</label>-->
                        <!--<input type="text"/>-->
                    <!--</md-input-container>-->


                    <!--<md-input-container>-->
                        <!--<label>Password</label>-->
                        <!--<input type="password"/>-->
                    <!--</md-input-container>-->

                    <!--<md-input-container>-->
                        <!--<label>Confirm Password</label>-->
                        <!--<input type="password"/>-->
                    <!--</md-input-container>-->

                    <!--<md-checkbox>-->
                        <!--I Agree-->
                    <!--</md-checkbox>-->

                    <!--<md-button class="md-raised md-primary">-->
                        <!--Registration-->
                    <!--</md-button>-->

                <!--</md-content>-->
            <!--</md-content>-->
        <!--</md-tab>-->

<!--</md-content>-->
<!--</md-content>-->

    <!--</div>-->
<!--</div>-->
