
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySpaceLabel">Create or edit a Space</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="space.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name_space">Name Space</label>
            <input type="text" class="form-control" name="name_space" id="field_name_space"
                    ng-model="space.name_space"
                    required />
            <div ng-show="editForm.name_space.$invalid">
                <p class="help-block"
                    ng-show="editForm.name_space.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                    ng-model="space.location"
                    required />
            <div ng-show="editForm.location.$invalid">
                <p class="help-block"
                    ng-show="editForm.location.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_capacity">Capacity</label>
            <input type="number" class="form-control" name="capacity" id="field_capacity"
                    ng-model="space.capacity"
                    required />
            <div ng-show="editForm.capacity.$invalid">
                <p class="help-block"
                    ng-show="editForm.capacity.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.capacity.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_facility_space">Facility Space</label>
            <input type="text" class="form-control" name="facility_space" id="field_facility_space"
                    ng-model="space.facility_space"
                    required />
            <div ng-show="editForm.facility_space.$invalid">
                <p class="help-block"
                    ng-show="editForm.facility_space.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_note_space">Note Space</label>
            <textarea type="text" class="form-control" name="note_space" id="field_note_space"
                    ng-model="space.note_space"
                     ></textarea>
        </div>

        <div class="form-group">
            <label class="control-label" for="field_status_space">Status</label>
            <select class="form-control" name="status_space" id="field_status_space"
                    ng-model="space.statusSpace">
                <option value="Ready">Ready</option>
                <option value="Maintenance">Maintenance</option>
            </select>
        </div>

        <div class="form-group">
            <label for="field_category">category</label>
            <select class="form-control" id="field_category" name="category" ng-model="space.category" ng-options="space_category as space_category.space_category for space_category in space_categorys track by space_category.id">
                <option value=""></option>
            </select>

        </div>

    </div>
    {{image}}
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
