
    <div class="container-fluid">


        <jh-alert></jh-alert>
        <md-card>
            <md-card-title>
                <span class="md-headline">Space</span>
            </md-card-title>
        </md-card>
        <br>

        <div has-authority="ROLE_USER">
        <md-button class="md-fab md-fab-bottom-right" style="position: fixed" ui-sref="space.new">
            <md-tooltip md-direction="left">
                New Space
            </md-tooltip>
            <md-icon md-svg-icon="assets/images/ic_note_add_white_24px.svg"></md-icon>
        </md-button>
        </div>

        <md-input-container class="md-icon-float">
            <label>Search</label>
            <md-icon md-svg-icon="assets/images/ic_search_black_24px.svg"></md-icon>
            <input ng-model="search"/>
        </md-input-container>

    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name_space"><span>Name Space</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="location"><span>Location</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="capacity"><span>Capacity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category.space_category"><span>Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="space in spaces | filter: search">
                    <td><a ui-sref="space.detail({id:space.id})">{{space.id}}</a></td>
                    <td>{{space.name_space}}</td>
                    <td>{{space.location}}</td>
                    <td>{{space.capacity}}</td>
                    <td>
                        <a ui-sref="space_category.detail({id:space.category.id})">{{space.category.space_category}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="space.detail({id:space.id})"
                                    class="btn btn-info btn-sm" >
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="space.edit({id:space.id})"
                                    class="btn btn-primary btn-sm" has-authority="ROLE_ADMIN">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="space.delete({id:space.id})"
                                    class="btn btn-danger btn-sm" has-authority="ROLE_ADMIN">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
