
<div class="container">
    <h2><span>Space</span> {{space.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Name Space</span>
                </td>
                <td>
                    <span class="form-control-static">{{space.name_space}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Location</span>
                </td>
                <td>
                    <span class="form-control-static">{{space.location}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Capacity</span>
                </td>
                <td>
                    <span class="form-control-static">{{space.capacity}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Facility Space</span>
                </td>
                <td>
                    <span class="form-control-static">{{space.facility_space}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Note Space</span>
                </td>
                <td>
                    <span class="form-control-static">{{space.note_space}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Status Space</span>
                </td>
                <td>
                    <span class="form-control-static">{{space.statusSpace}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Category</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="space_category.detail({id:space.category.id})">{{space.category.space_category}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
